.check-inout {
  width: 30%;
  min-width: 200px;
  padding: 15px;
  padding-top: 0;
  background: rgb(211, 197, 197);
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 2px rgb(180, 176, 176);
}
.check-inout-title {
  color: rgb(51, 55, 58);
  text-transform: uppercase;
}
.check-inout-title h2 {
  border-bottom: 0.5px solid #fff;
}
.check-inout-title button {
  width: 60%;
  padding: 10px;
  cursor: pointer;
  text-transform: uppercase;
  border: 0;
}
.check-inout-title button:hover {
  background: rgb(95, 94, 94);
  color: rgb(223, 213, 213);
}
.check-inout-title button:active {
  color: #fff;
  background: rgb(24, 23, 23);
}
.check-in-ok {
  text-transform: uppercase;
  color: blue;
}

.check-in-er {
  text-transform: uppercase;
  color: red;
}
